div {
    width: 100%;
    height: 100%;
}
.container{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    height: 80vh;
    gap: 5px;
}
 #status{
     grid-row: 1/2;
     grid-column: 1/3;
     background-color: mediumseagreen;
 }
 #Chat-Box{
     grid-row:2/5;
     grid-column: 1/2;
     background-color: aqua;
     overflow: auto;
 }
 #stickers{
     grid-row: 2/3;
     grid-column: 2/3;
     background-color: bisque;
     overflow: auto;

 }
 #Emojis{
     grid-row: 3/4;
     grid-column: 2/3;
     background-color: skyblue;
     overflow: auto;
 }
 #images{
     grid-row: 4/6;
     grid-column: 2/3;
     background-color: fuchsia;
     overflow: auto;

 }
 #prompt-Area{
     grid-row: 5/6;
     grid-column: 1/2;
     background-color: greenyellow;
     overflow: auto;
     position: relative;
 }
 #send{
     background-color: red;
     width:15%;
     height: 100%;
     position: absolute;
     right: 0;
 }
 div>div{
     width: 100%;
     height: 15%;
     background-color: #8675A9;
     overflow: hidden;
     font-size: 1.2vw;
 }