.FirstView{
    margin: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#LoginBox{
    width: 60%;
    max-width: 320px;
    text-align: center;
    background-color: #FFD5CD;
}
input{
    padding: 0.6rem;
    margin-bottom: 1rem;
}
form>button{
    cursor: pointer;
    padding: 0.6rem;
    margin-bottom: 3rem;
}
form *{
    box-sizing: border-box;
    width: 80%;
}

/* Full screen container */
.menu-container {
    height: 100vh;
    display: none;
    flex-direction: column;
}

/* Each segment */
.segment {
    flex: 1; /* equal height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* Colors */
.global {
    background-color: #3b82f6;
}

.random {
    background-color: #22c55e;
}

.direct {
    background-color: #a855f7;
}
@media (min-width: 768px) {
    .menu-container {
        flex-direction: row; /* desktop = side by side */
    }
}
/* Hover / touch effect */
.segment:hover {
    opacity: 0.9;
    transform: scale(1.02);
}